@model IEnumerable<MobileStoreOne.Models.Phone>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Смартфоны</h3>
<table class="table-condensed">
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td><a href="~/Home/Change/@phone.Id">Изменить</a></td>
            <td><a href="~/Home/Del/@phone.Id">Удалить</a></td>
            <td><a href="~/Home/Duplicate/@phone.Id">Дублировать</a></td>
            <td><a href="~/Home/Threeplicate/@phone.Id">Триплировать</a></td>
        </tr>
    }
</table>

<a href="~/Home/AddNew">Добавить</a>
<a href="~/Home/Generate">Сгенерировать</a>


